.fat-border{
    border: 3px solid white
}
.fat-border::placeholder{
    color: #ccc
}
.fat-border:hover{
    border: 3px solid white
}
.fat-border:focus{
    border: 3px solid white
}

.invert-button{
    border: 0;
    font-weight: bold;
    margin: 30px 0;
    &:hover{
        background: hsl(0, 0%, 21%);
        color: #fff;
    }
}

.color-over-image{
    background: url(https://i.pinimg.com/originals/87/22/19/872219e39469e56ff5742581122212bf.jpg) no-repeat center/cover;
}

.nav-burger{
    width: 3.25rem;
    height: 3.25rem;
    position: relative;
    span{
        width: 16px;
        height: 2px;
        background-color: white;
        display: block;
        right: 50%;
        top: 50%;
        transform: translateY(-50%);
        transform: translateX(50%);
        position: absolute;
        &:nth-child(1){
            top: calc( 50% - 6px )
        }
        &:nth-child(2){
            width: 8px;
            transform: translateX(100%);
        }
        &:nth-child(3){
            top: calc( 50% + 6px )
        }
    }
    &:hover{
        background: rgba(0,0,0,0.3)
    }
}

.navbar-center{
    width: 100%;
    display: flex;
    justify-content: center;
}

.sidemenu{
    width: auto;
    height: 100vh;
    padding: 1.5rem;
    background: black;
    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    width: 400px;
    transition: all ease 300ms;
    .sidemenu-head{
        width: 100%;
        display: flex;
        justify-content: space-between;
        color: white;
        .sidemenu-item{
            cursor: pointer;
        }
    }
    .sidemenu-body{
        padding: 2rem 0;
    }
}
.sidemenu.active{
    transform: translateX(0);
}

.social-icons{
    color: white;
    &:hover{
        color: orangered
    }
}

.slider-navigation-previous,.slider-navigation-next{
    padding: 10px;
    border: 0 !important;
    background: transparent !important;
    width: 70px !important;
    height: 70px !important;
    svg{
        width: 100% !important;
    }
}


.top-item-1{
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-item-2{
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-item-3{
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.top-item-1,.top-item-2,.top-item-3{
    p{
        text-align: center;
        color: white;
    }
}

@keyframes top-carousel-image{
    0%{transform: scaleX(1)}
    100%{transform: scale(1.1)}
}

.back-image1,.back-image2,.back-image3{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url(https://i.pinimg.com/originals/87/22/19/872219e39469e56ff5742581122212bf.jpg) no-repeat center/cover;
    animation-name: top-carousel-image;
    animation-duration: 5s;
    animation-iteration-count:infinite;
}

.hover-col{
    position: relative;
    overflow: hidden;
    &::after{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top:0;
        left:0;
        transform: scale();
    }
    &:hover{
        &::after{
            transform: scale(1.1);
            transition: transform ease 800ms;
        }
    }
}

.hover-col-1{
    &::after{
        background: url(https://i.pinimg.com/originals/87/22/19/872219e39469e56ff5742581122212bf.jpg) no-repeat center/cover;
    }
}
.hover-col-2{
    &::after{
        background: url(https://wallpaperplay.com/walls/full/a/e/d/140309.jpg) no-repeat center/cover;
    }
}
.hover-col-3{
    &::after{
        background: url(https://wallpaperaccess.com/full/300068.jpg) no-repeat center/cover;
    }
}
.hover-col-4{
    &::after{
        background: url(https://wallpaperaccess.com/full/300068.jpg) no-repeat center/cover;
    }
}
.hover-col-5{
    &::after{
        background: url(https://wallpaperplay.com/walls/full/a/e/d/140309.jpg) no-repeat center/cover;
    }
}